---
const { image, title, description, githubUrl, videoUrl } = Astro.props;
---
<!-- bg-slate-900
 bg-gray-900

  -->
<div class="bg-zinc-700 rounded-lg shadow-lg overflow-hidden flex flex-col items-center p-4 max-w-xs">
  <img src={image} alt={title} class="w-full h-40 object-cover rounded-t-lg mb-4" />
  <h3 class="text-xl font-bold text-center mb-2 text-white">{title}</h3>
  <p class="text-white mb-4 text-center">{description}</p>
  <div class="flex gap-4">
  <a href={githubUrl} target="_blank" rel="noopener noreferrer" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition">Saber más</a>
  <a href={videoUrl} target="_blank" rel="noopener noreferrer" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition">
    Ver vídeo
  </a>
  </div>
</div>